/* Moving Header */

#header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  border-bottom: thin solid black;
  justify-content: space-between;
  padding-bottom: 10px;
}
.topHead {
  display: inline-flex;
  align-items: center;
}
.topHead p {
  color: MediumAquamarine;
  padding-left: 10px;
}
.topNav li{
  display: inline-block;
  padding: 10px;
}
.topNav a{
  color: black;
}

/* Main Body */
#body {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  border: thin solid black;
}
.story {
  border: bold solid black;
}
.story p {
  border: thin solid black;
}
.column {
  display: flex;
  flex-direction: column;
  border: thin solid black;
}
.column.large {
  width: 630px;
}
.column.medium {
  width: 300px;
}
.column.small {
  width: 240px;
}
.overimg {
  border: thin solid red;
}
.sideNav {
  border: bold solid black;
}
.sideNav li {
  border: thin solid black;
}
